.font {
    font-family: 'Roboto', sans-serif !important;
}

.blue {
    background-color: #006494;
}

.dark-blue {
    background-color: #003554;
}

.light-blue {
    background-color: #0582ca;
}

.nav-logo {
    width: 50px;
    margin: 5px;
}

#message-scroll {
    overflow: auto;
    height: calc(100vh - 80px);
}

#message-scroll::-webkit-scrollbar {
    display: none;
}

.email-message {
    height: 80px;
}

.email {
    text-decoration: none;
    background-color: transparent;
    transition: background-color ease 200ms;
}

.email-content {
    overflow-x: auto;
    height: calc(100vh - 215px);
    padding: 5px;
}

.email-content > p {
    color: white;
}

.email:hover, .active {
    background-color: #212529;
    transition: background-color ease 200ms;
}

.md-tool-bar {
    height: 60px;
}

.md-tool-wrapper {
    width: 80%;
}

.md-tool {
    background-color: transparent;
    border: none;
    color: white;
}

.md-tool-size {
    font-size: 38px;
}

#email-text-area {
    height: calc(100% - 60px);
}

.white {
    color: #ffffff !important;
}

input {
    border: none;
}

.compose {
    border-bottom: solid 1px black;
}